.DS_Store
.env
.env.*
!.env.example
node_modules/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/
.vercel/
.next-static/
.next/cache/
.next/server/
.next/trace
.eslintcache
.turbo/
coverage/
dist/
build/
.vscode/
.idea/
